.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.loader {
  position: relative;
  width: 80px;
  height: 80px;
}

.loader-ring {
  position: absolute;
  border-radius: 50%;
  border: 4px solid transparent;
}

/* Outer Ring */
.outer-ring {
  width: 80px;
  height: 80px;
  border-top: 4px solid black;
  border-right: 4px solid black;
  animation: spinScaleOuter 1.5s ease-in-out infinite;
}

/* Inner Ring */
.inner-ring {
  width: 50px;
  height: 50px;
  top: 15px;
  left: 15px;
  border-top: 4px solid black;
  border-right: 4px solid black;
  animation: spinScaleInner 1.5s ease-in-out infinite reverse;
}

@keyframes spinScaleOuter {
  0% {
    transform: rotate(0deg) ;
  }
  
  100% {
    transform: rotate(360deg) ;
  }
}

@keyframes spinScaleInner {
  0% {
    transform: rotate(0deg) ;
  }
  
  100% {
    transform: rotate(360deg) ;
  }
}


[data-theme="dark"] .outer-ring {
  border-top: 4px solid white;
  border-right: 4px solid white;
}

[data-theme="dark"] .inner-ring {
  border-bottom: 4px solid white;
  border-left: 4px solid white;
}
